{deps, [
  forms,
  {erlydtl, "0.12.1",
   {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.12.1"}}}
]}.

{escript_incl_apps,
 [perc]}.
{escript_main_app, perc}.
{escript_name, perc}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{erl_opts, [
  warnings_as_errors,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_import,
  warn_unused_vars
]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_functions,
  undefined_function_calls
]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}]
             },
            {lint,  [
                 {plugins, [
                      {rebar3_lint,
                       {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.9"}}
                      }]
                 }]}
            ]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*",
     {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git",
      {branch, "master"}
     }
    }
]}.
{provider_hooks, [
  {pre, [
    {compile, {erlydtl, compile}}
  ]}
]}.
{erlydtl_opts, [
  {auto_escape, false},
  {compiler_options, [debug_info]},
  {doc_root, ["priv"]}
]}.
